$background-color: #F0F4F8;
$font-color: #2F2727;
$font-family: 'Source Sans Pro', sans-serif;
$form-build-font-color: #E7EBEF;
$form-build-font-inp-color: #393A3C;
$form-build-primary-color: #4C5566;
$form-build-secondary-color: #FFF;
$li-border-bottom-color: #7B7E84;
$modal-bg-color: #FEFEFE;
