.form-left-side-bar {
    align-content: center;
    align-items: center;
    background: linear-gradient($gradient-primary-color, $gradient-secondary-color, $gradient-primary-color);
    background-color: $form-build-primary-color;
    display: block;
    font-size: 14px;
    margin:0;
    width :15%;
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        border-bottom: 1px solid $li-border-bottom-color;
        color: $form-build-font-color;
        cursor: pointer;
        list-style: none;
        padding: 15px 15px;
        position: relative;
        i {
            position: absolute;
            right: 25px;
            top: 17px;
        }
    }
    .li-head {
        cursor: unset;
        font-size: 20px;
        font-weight: 600;
        padding: 25px 0 25px 15px;
    }
}
